<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<title>Page Title</title>

<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>
    <div class="container">
        <form action="#" th:action="@{/api/auth/signin}" th:object="${user}" th:name="user" method="post">
            <label>Login</label>
            <input type="text" th:field="*{username}" />
            <label>Password</label>
            <input type="text" th:field="*{password}" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>